.section_container {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section_pic-container{
    background-color: var(--ashwhite);
    border-radius: 999px;
    height: 600px;
    width: 400px;
}

.section_pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70%;
    border-radius: 999px;
}

.me {

}

.detail_heading h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    text-transform: capitalize;
    text-align: end;
    text-justify: inter-word;
}

.detail_heading p {
    font-size: 1.5rem;
    margin-bottom: 22px;
    color: var(--secondary);
}

.section_details {
    max-width: 30rem;
}

.detail_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.detail_text p {
    font-size: 1.3rem;
    text-align: right;
    text-justify: inter-word;
    color: var(--ash);
}

@media screen and (max-width: 700px) {
    .detail_heading h3,
    .detail_heading p {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1100px) {
    .section_container {
        flex-direction: column;
    }

    .section_details{
        padding: 0 10px;
        max-width: 38rem;
    }

    .detail_heading h3,
    .detail_heading p {
        font-size: 2.2rem;
    }
}

.btn_group a {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}