nav,
.nav_links {
    display: flex;
    flex-direction: row;
}

nav {
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 13vh;
    transition: 0.3s all ease-in;
}

nav.sticky {
    background-color: var(--primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 8vh;
    transition: 0.3s all ease-out;
}

.logo {
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bolder;
}

.logo::before {
    content: "";
    position: absolute;
    right: -10px;
    margin-top: 3px;
    border-radius: 50%;
    width: 40px;
    height: 100%;
    background-color: var(--secondary-alpha);
}

.nav_links {
    position: relative;
    gap: 2.5rem;
    list-style: none;
    font-size: 1.2rem;
}

.nav_links a {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    border: none;
    font-size: inherit;
    color: var(--black);
    padding: 0.5rem 0;
    text-transform: capitalize;
    cursor: pointer;
}

.nav_links a.active {
    color: var(--secondary);
}

.nav_links a.active::after {
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 100%;
    background-color: var(--secondary);
    transition: all 500ms ease;
}

.nav_links a:hover {
    color: var(--secondary);
}

.nav_links a::after {
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0;
    background-color: var(--secondary);
    transition: all 500ms ease;
}

.nav_links a:hover::after {
    width: 100%;
}

#hamburger_nav {
    display: none;
}

.hamburger_menu {
    position: relative;
    display: inline-block;
}

.hamburger_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger_icon span {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 500ms ease-in-out;
}

.hamburger_icon span:last-child {
    width: 60%;
}

.menu_links {
    padding: 6px 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border-radius: 25px;
    gap: 1.5rem;
    width: 300px;
    bottom: -10%;
    overflow: hidden;
    transition: bottom 700ms ease-in-out;
    z-index: 100;
}

.menu_links li {
    list-style: none;
}

.menu_links svg,
.menu_links img {
    list-style: none;
    color: var(--black);
    padding: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 30%;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.menu_links svg:hover,
.menu_links img:hover {
    background-color: var(--primary);
    color: var(--secondary);
    transition: background-color 500ms ease-in-out;
}

.menu_links.open {
    max-height: 300px;
    bottom: 1.5%;
    transition: bottom 800ms ease-in-out;
}

.hamburger_icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger_icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger_icon.open span:last-child {
    width: 100%;
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger_icon span:first-child {
    transform: none;
}

.hamburger_icon span:first-child {
    opacity: 1;
}

.hamburger_icon span:first-child {
    transform: none;
}

@media screen and (max-width: 1100px) {
    #desktop_nav {
        display: none;
    }
    #hamburger_nav {
        display: flex;
    }
}

/* .menu_links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all;
} */

/* .menu_links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
} */

/* .menu_links li{
    list-style: none;
}

.menu_links.open {
  max-height: 300px;
} */
